# LabLink Configuration: Use Case 1 - IP-Only (No DNS, No SSL)
# Simplest deployment: Access allocator via public IP address over HTTP
#
# Use this when:
# - You don't have a domain name
# - You want fastest setup for testing
# - SSL/HTTPS is not required
#
# Access URL: http://52.40.142.146 (IP will be output after deployment)

db:
  dbname: "lablink_db"
  user: "lablink"
  password: "PLACEHOLDER_DB_PASSWORD"
  host: "localhost"
  port: 5432
  table_name: "vms"
  message_channel: "vm_updates"

machine:
  machine_type: "g4dn.xlarge"
  image: "ghcr.io/talmolab/lablink-client-base-image:linux-amd64-latest-test"
  ami_id: "ami-0601752c11b394251"  # us-west-2
  repository: "https://github.com/talmolab/sleap-tutorial-data.git"
  software: "sleap"
  extension: "slp"

allocator:
  image_tag: "linux-amd64-latest-test"

app:
  admin_user: "admin"
  admin_password: "PLACEHOLDER_ADMIN_PASSWORD"
  region: "us-west-2"

dns:
  enabled: false  # No DNS - use IP address only
  terraform_managed: false
  domain: ""
  zone_id: ""

eip:
  strategy: "dynamic"
  tag_name: "lablink-eip"

ssl:
  provider: "none"  # No SSL - HTTP only
  email: ""
  certificate_arn: ""

startup_script:
  enabled: false
  path: "config/custom-startup.sh"
  on_error: "continue"

bucket_name: "tf-state-lablink-YOURORG"